<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="GeoAdapter Test Suite">
            <directory>./test/lib/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/Geo/</directory>
        </whitelist>
    </filter>
</phpunit>
